In [1]:
# Dependencies
import pandas as pd

In [2]:
# Name of the CSV file
file = 'Resources/donors2008.csv'

In [3]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file, encoding="ISO-8859-1")

In [4]:
# Preview of the DataFrame
# Note that FIELD8 is likely a meaningless column
df.head()

  LastName FirstName          Employer      City State    Zip  Amount  FIELD8
0    Aaron    Eugene  State Department    Dulles    VA  20189   500.0     NaN
1    Abadi   Barbara       Abadi & Co.  New York    NY  10021   200.0     NaN
2  Adamany   Anthony           Retired  Rockford    IL  61103   500.0     NaN
3    Adams  Lorraine              Self  New York    NY  10026   200.0     NaN
4    Adams    Marion              None    Exeter    NH  03833   100.0     NaN

In [5]:
# Delete extraneous column
del df['FIELD8']
df.head()

  LastName FirstName          Employer      City State    Zip  Amount
0    Aaron    Eugene  State Department    Dulles    VA  20189   500.0
1    Abadi   Barbara       Abadi & Co.  New York    NY  10021   200.0
2  Adamany   Anthony           Retired  Rockford    IL  61103   500.0
3    Adams  Lorraine              Self  New York    NY  10026   200.0
4    Adams    Marion              None    Exeter    NH  03833   100.0

In [6]:
# Identify incomplete rows
df.count()

LastName     1776
FirstName    1776
Employer     1743
City         1776
State        1776
Zip          1776
Amount       1776
dtype: int64

In [7]:
# Drop all rows with missing information
df = df.dropna(how='any')

In [8]:
# Verify dropped rows
df.count()

LastName     1743
FirstName    1743
Employer     1743
City         1743
State        1743
Zip          1743
Amount       1743
dtype: int64

In [9]:
# The Amount column is the wrong data type. It should be numeric.
df.dtypes

LastName      object
FirstName     object
Employer      object
City          object
State         object
Zip           object
Amount       float64
dtype: object

In [10]:
# Use pd.to_numeric() method to convert the datatype of the Amount column
df['Amount'] = pd.to_numeric(df['Amount'])

In [11]:
# Verify that the Amount column datatype has been made numeric
df['Amount'].dtype

dtype('float64')

In [12]:
# Display an overview of the Employers column
df['Employer'].value_counts()

None                                                                            249
Self                                                                            241
Retired                                                                         126
Self Employed                                                                    39
Self-Employed                                                                    34
Google                                                                            6
Not Employed                                                                      4
Unemployed                                                                        4
Bank Of America                                                                   3
University of California                                                          3
Social Security Administration                                                    3
Davis Polk & Wardwell                                                             2
Berger & Montague                                                                 2
Henry Crown & Company                                                             2
Jones Day                                                                         2
Federal Government                                                                2
University Hospital                                                               2
Northern Trust                                                                    2
Newton Public Schools                                                             2
Covington & Burling                                                               2
Microsoft                                                                         2
Ariel Investments                                                                 2
CSC                                                                               2
UCLA                                                                              2
LMI                                                                               2
Mayer Brown                                                                       2
Google, Inc.                                                                      2
Freelance                                                                         2
Hugo Neu Corporation                                                              2
Harvard University                                                                2
                                                                               ...
Alexander & Associates, Inc.                                                      1
Foley And Lardner                                                                 1
NY Philharmonic                                                                   1
Advocate Health Care                                                              1
Philip A Greider, MD, Inc                                                         1
Plymouth State University/NH Chapter, National Association of Social Workers      1
The Torrey Funds                                                                  1
Rutgers University                                                                1
Red Pen Creative, Inc.                                                            1
Levenson Mcdavid Architects P.C.                                                  1
Echo Mountain                                                                     1
Università Bocconi                                                                1
Wayne State University                                                            1
Juniper Networks/Intuit                                                           1
AOL                                                                               1
Perot Systems                                                                     1
World Bank Group: International Finance Corporation                               1
Auburn University                                                                 1
Kachina Accounting Services Inc                                                   1
Exxon Mobil Corporation                                                           1
Paddock Publishing, Inc                                                           1
Lewis Rice & Fingersh, LC                                                         1
Newsweb Corporation                                                               1
J.P. Morgan Securities Inc.                                                       1
Retired Dod Civ Servant                                                           1
Lockwood & Hartley, ALC                                                           1
DBD                                                                               1
University of Nevada, Las Vegas                                                   1
Sacramento City Unified School District                                           1
D Magazine Partners                                                               1
Name: Employer, Length: 1011, dtype: int64

In [13]:
# Clean up Employer category. Replace 'Self Employed' and 'Self' with 'Self-Employed'
df['Employer'] = df['Employer'].replace(
    {'Self Employed': 'Self-Employed', 'Self': 'Self-Employed'})

In [14]:
# Verify clean-up.
df['Employer'].value_counts()

Self-Employed                                                                   314
None                                                                            249
Retired                                                                         126
Google                                                                            6
Unemployed                                                                        4
Not Employed                                                                      4
University of California                                                          3
Bank Of America                                                                   3
Social Security Administration                                                    3
Microsoft                                                                         2
Jones Day                                                                         2
Hugo Neu Corporation                                                              2
Freelance                                                                         2
Ariel Investments                                                                 2
Henry Crown & Company                                                             2
Newton Public Schools                                                             2
Federal Government                                                                2
Berger & Montague                                                                 2
LMI                                                                               2
University Hospital                                                               2
Covington & Burling                                                               2
Mayer Brown                                                                       2
CSC                                                                               2
Davis Polk & Wardwell                                                             2
Google, Inc.                                                                      2
Northern Trust                                                                    2
United Health Group                                                               2
Harvard University                                                                2
Sidley Austin LLP                                                                 2
Rainey Cluss LLC                                                                  2
                                                                               ...
Alexander & Associates, Inc.                                                      1
Foley And Lardner                                                                 1
NY Philharmonic                                                                   1
Advocate Health Care                                                              1
Philip A Greider, MD, Inc                                                         1
Plymouth State University/NH Chapter, National Association of Social Workers      1
The Torrey Funds                                                                  1
Rutgers University                                                                1
Red Pen Creative, Inc.                                                            1
Levenson Mcdavid Architects P.C.                                                  1
Echo Mountain                                                                     1
Università Bocconi                                                                1
Wayne State University                                                            1
Juniper Networks/Intuit                                                           1
AOL                                                                               1
Perot Systems                                                                     1
World Bank Group: International Finance Corporation                               1
Auburn University                                                                 1
Kachina Accounting Services Inc                                                   1
Exxon Mobil Corporation                                                           1
Paddock Publishing, Inc                                                           1
Lewis Rice & Fingersh, LC                                                         1
Newsweb Corporation                                                               1
J.P. Morgan Securities Inc.                                                       1
Retired Dod Civ Servant                                                           1
Lockwood & Hartley, ALC                                                           1
DBD                                                                               1
University of Nevada, Las Vegas                                                   1
Sacramento City Unified School District                                           1
D Magazine Partners                                                               1
Name: Employer, Length: 1009, dtype: int64

In [15]:
df['Employer'] = df['Employer'].replace({'Not Employed': 'Unemployed'})
df['Employer'].value_counts()

Self-Employed                                                                   314
None                                                                            249
Retired                                                                         126
Unemployed                                                                        8
Google                                                                            6
University of California                                                          3
Social Security Administration                                                    3
Bank Of America                                                                   3
Henry Crown & Company                                                             2
Federal Government                                                                2
Berger & Montague                                                                 2
Jones Day                                                                         2
University Hospital                                                               2
Covington & Burling                                                               2
Freelance                                                                         2
Google, Inc.                                                                      2
LMI                                                                               2
Davis Polk & Wardwell                                                             2
Microsoft                                                                         2
Mayer Brown                                                                       2
Northern Trust                                                                    2
Ariel Investments                                                                 2
Newton Public Schools                                                             2
CSC                                                                               2
Hugo Neu Corporation                                                              2
ExxonMobil                                                                        2
UCLA                                                                              2
Rainey Cluss LLC                                                                  2
Harvard University                                                                2
University Of Michigan                                                            2
                                                                               ...
Alexander & Associates, Inc.                                                      1
Foley And Lardner                                                                 1
NY Philharmonic                                                                   1
Advocate Health Care                                                              1
Philip A Greider, MD, Inc                                                         1
Plymouth State University/NH Chapter, National Association of Social Workers      1
The Torrey Funds                                                                  1
Rutgers University                                                                1
Red Pen Creative, Inc.                                                            1
Levenson Mcdavid Architects P.C.                                                  1
Echo Mountain                                                                     1
Università Bocconi                                                                1
Wayne State University                                                            1
Juniper Networks/Intuit                                                           1
AOL                                                                               1
Perot Systems                                                                     1
World Bank Group: International Finance Corporation                               1
Auburn University                                                                 1
Kachina Accounting Services Inc                                                   1
Exxon Mobil Corporation                                                           1
Paddock Publishing, Inc                                                           1
Lewis Rice & Fingersh, LC                                                         1
Newsweb Corporation                                                               1
J.P. Morgan Securities Inc.                                                       1
Retired Dod Civ Servant                                                           1
Lockwood & Hartley, ALC                                                           1
DBD                                                                               1
University of Nevada, Las Vegas                                                   1
Sacramento City Unified School District                                           1
D Magazine Partners                                                               1
Name: Employer, Length: 1008, dtype: int64

In [16]:
# Display a statistical overview
# We can infer the maximum allowable individual contribution from 'max'
df.describe()

            Amount
count  1743.000000
mean    640.124750
std    1242.343265
min       5.000000
25%     200.000000
50%     250.000000
75%     500.000000
max    5000.000000