In [1]:
# Dependencies
import pandas as pd

In [2]:
# Save file path to variable
csv_path = "Resources/Pokemon.csv"

In [3]:
# Read with Pandas
pokemon_df = pd.read_csv(csv_path)

In [4]:
# Extract the following columns: "Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def", and "Speed"
pokemon_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
# Create a dataframe of the average stats for each type of pokemon.
state_counts = usa_ufo_df["state"].value_counts()
state_counts

pokemon_df = pd.DataFrame(state_counts)
state_ufo_counts_df.head()

In [ ]:
# Calculate the total power level of each type of pokemon by summing all of the stats together.
# Place the results into a new column.
# Hint: Research the sum method from pandas.

In [ ]:
# Bonus: Sort the table by strongest type and export the resulting table to a new CSV.