In [1]:
%matplotlib notebook

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import scipy.stats as sts
import seaborn as sns
import time
import seaborn

# Import API key
from api_keys import g_key
from api_keys import api_key
from api_keys import weather_api_key
#gmaps.configure(api_keys= g_key)

In [3]:
city_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#data =  city_url + "lompoc" + "&APPID=" + api_key
#response = requests.get(city_url)
#data = response.json()
#pprint(data)

#import openweathermapy as gmaps

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
#Loading in WeatherPY CSV

input_file = "cities.csv"


csv=pd.read_csv(input_file)

csv.head()

,city_id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hithadhoo,-0.6000,73.0833,81.34,71,92,7.78,MV,1627858049
1,1,Yellowknife,62.4560,-114.3525,87.33,28,20,3.44,CA,1627858059
2,2,Saint-Joseph,-21.3667,55.6167,64.78,75,37,8.30,RE,1627858292
3,3,Cidreira,-30.1811,-50.2056,56.86,93,90,8.03,BR,1627858086
4,4,Talara,-4.5772,-81.2719,65.91,84,1,21.12,PE,1627858137

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
#Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:


#Creating necesarry variables for Location and Humidity
locations=csv[["Lat", "Lng"]]
Humidity= csv["Humidity"]

#Define the heatmap parameters
fig=gmaps.figure()

#Create heat layer
heat_layer=gmaps.heatmap_layer(locations, weights=Humidity, dissipating=False, 
                              point_radius=3)

#Add Layer
fig.add_layer(heat_layer)

#Display the map
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
#Personal preference
    #80> but not higher 90 
    #50< Humidity
    #Lat > 20

temp_df=csv[(csv["Max Temp"]>=80)&(csv["Max Temp"]<90)&(csv["Humidity"]<50)& (csv["Lat"]>20)]
temp_df

,city_id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Yellowknife,62.4560,-114.3525,87.33,28,20,3.44,CA,1627858059
13,13,Norman Wells,65.2820,-126.8329,87.84,23,40,4.61,CA,1627858085
45,45,La Ronge,55.1001,-105.2842,86.25,25,75,8.05,CA,1627858302
83,83,Haines Junction,60.7522,-137.5108,80.55,32,16,6.91,CA,1627858310
100,100,Esna,25.2934,32.5540,87.82,14,42,6.69,EG,1627858315
112,112,Thompson,55.7435,-97.8558,84.36,30,20,4.61,CA,1627858317
130,130,Koilada,37.4095,23.1147,84.58,43,0,6.26,GR,1627858322
230,230,Aklavik,68.2191,-135.0107,84.92,39,99,15.50,CA,1627858092
243,243,Sakakah,29.9697,40.2064,87.37,14,0,10.20,SA,1627858352
279,279,Ardakān,32.3100,54.0175,86.38,14,37,6.49,IR,1627858360
287,287,Abnūb,27.2696,31.1511,89.82,16,3,5.06,EG,1627858362
301,301,Pueblo,38.2545,-104.6091,80.49,43,1,1.99,US,1627858366
307,307,Makakilo City,21.3469,-158.0858,88.12,48,20,13.80,US,1627858367
336,336,Bam,29.1060,58.3570,87.73,13,30,8.93,IR,1627858376
344,344,Jalu,29.0331,21.5482,85.87,26,3,10.76,LY,1627858378
379,379,Elk Plain,47.0532,-122.3976,86.85,49,1,3.00,US,1627858387
400,400,Nizwá,22.9333,57.5333,86.90,49,100,1.95,OM,1627858177
411,411,Fort Nelson,58.8053,-122.7002,89.19,40,1,3.44,CA,1627858249
413,413,Estevan,49.1334,-102.9842,89.22,25,1,3.44,CA,1627858401
415,415,Awjilah,29.1081,21.2869,85.71,27,3,10.78,LY,1627858401
460,460,Vanderhoof,54.0166,-124.0198,88.93,30,100,1.83,CA,1627858232
484,484,Truckee,39.3280,-120.1833,85.62,31,49,3.00,US,1627858208
485,485,Assiut,27.1810,31.1837,89.78,16,4,4.27,EG,1627858420
490,490,Flin Flon,54.7682,-101.8650,85.84,28,1,8.05,CA,1627858421
499,499,Tessalit,20.1986,1.0114,86.22,42,6,11.23,ML,1627858202
516,516,Mach,29.8637,67.3298,84.06,45,6,2.42,PK,1627858428
537,537,Fort-Shevchenko,44.5086,50.2630,84.09,39,13,11.07,KZ,1627858433

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
#create df of hotel name, along with city, count, geocod(lat,long)
hotel_df=temp_df[["City","Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Names"]= ""
hotel_df

                City Country      Lat       Lng Hotel Names
1        Yellowknife      CA  62.4560 -114.3525
13      Norman Wells      CA  65.2820 -126.8329
45          La Ronge      CA  55.1001 -105.2842
83   Haines Junction      CA  60.7522 -137.5108
100             Esna      EG  25.2934   32.5540
112         Thompson      CA  55.7435  -97.8558
130          Koilada      GR  37.4095   23.1147
230          Aklavik      CA  68.2191 -135.0107
243          Sakakah      SA  29.9697   40.2064
279          Ardakān      IR  32.3100   54.0175
287            Abnūb      EG  27.2696   31.1511
301           Pueblo      US  38.2545 -104.6091
307    Makakilo City      US  21.3469 -158.0858
336              Bam      IR  29.1060   58.3570
344             Jalu      LY  29.0331   21.5482
379        Elk Plain      US  47.0532 -122.3976
400            Nizwá      OM  22.9333   57.5333
411      Fort Nelson      CA  58.8053 -122.7002
413          Estevan      CA  49.1334 -102.9842
415          Awjilah      LY  29.1081   21.2869
460       Vanderhoof      CA  54.0166 -124.0198
484          Truckee      US  39.3280 -120.1833
485           Assiut      EG  27.1810   31.1837
490        Flin Flon      CA  54.7682 -101.8650
499         Tessalit      ML  20.1986    1.0114
516             Mach      PK  29.8637   67.3298
537  Fort-Shevchenko      KZ  44.5086   50.2630

In [9]:
#Define variables
radius=8000
gtype="lodging"

#Making query calls for top Hotel

base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params={"radius": radius, "types": gtype,"key": g_key}

In [10]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"
    
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    #Save the hotel name to the dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Could not find result")
        print("-------------------------")
        #delay the code by one second to avoid an error
        time.sleep(1)
    print("--------------------Ending Search")

Retrieving Results for Index 1: Yellowknife.
Closest hotel in Yellowknife is The Explorer Hotel.
--------------------Ending Search
Retrieving Results for Index 13: Norman Wells.
Closest hotel in Norman Wells is Heritage Hotel.
--------------------Ending Search
Retrieving Results for Index 45: La Ronge.
Closest hotel in La Ronge is Northland Motor Hotel.
--------------------Ending Search
Retrieving Results for Index 83: Haines Junction.
Closest hotel in Haines Junction is Parkside Inn.
--------------------Ending Search
Retrieving Results for Index 100: Esna.
Closest hotel in Esna is Orient Star Dahabyia Isna 05 Nights Each Sunday.
--------------------Ending Search
Retrieving Results for Index 112: Thompson.
Closest hotel in Thompson is Burntwood Hotel.
--------------------Ending Search
Retrieving Results for Index 130: Koilada.
Closest hotel in Koilada is Costa Bianca.
--------------------Ending Search
Retrieving Results for Index 230: Aklavik.
Closest hotel in Aklavik is Aklavik Inn.
--------------------Ending Search
Retrieving Results for Index 243: Sakakah.
Closest hotel in Sakakah is Fakhamat Al Orjoana Apartment.
--------------------Ending Search
Retrieving Results for Index 279: Ardakān.
Closest hotel in Ardakān is Ardakan Hotel.
--------------------Ending Search
Retrieving Results for Index 287: Abnūb.
Closest hotel in Abnūb is Romany Adly Gad.
--------------------Ending Search
Retrieving Results for Index 301: Pueblo.
Closest hotel in Pueblo is Hampton Inn & Suites Pueblo-Southgate.
--------------------Ending Search
Retrieving Results for Index 307: Makakilo City.
Closest hotel in Makakilo City is Marriott's Ko Olina Beach Club.
--------------------Ending Search
Retrieving Results for Index 336: Bam.
Closest hotel in Bam is Bam Tourist Hotel.
--------------------Ending Search
Retrieving Results for Index 344: Jalu.
Closest hotel in Jalu is صاحبة الفخامة.
--------------------Ending Search
Retrieving Results for Index 379: Elk Plain.
Closest hotel in Elk Plain is Redwood Motel.
--------------------Ending Search
Retrieving Results for Index 400: Nizwá.
Closest hotel in Nizwá is Al Karam Hotel Apartment.
--------------------Ending Search
Retrieving Results for Index 411: Fort Nelson.
Closest hotel in Fort Nelson is The Fort Nelson Hotel.
--------------------Ending Search
Retrieving Results for Index 413: Estevan.
Closest hotel in Estevan is Motel 6 Estevan, SK.
--------------------Ending Search
Retrieving Results for Index 415: Awjilah.
Closest hotel in Awjilah is استراحة التعاون أوجلة.
--------------------Ending Search
Retrieving Results for Index 460: Vanderhoof.
Closest hotel in Vanderhoof is Vanderhoof Inn.
--------------------Ending Search
Retrieving Results for Index 484: Truckee.
Closest hotel in Truckee is Truckee Donner Lodge.
--------------------Ending Search
Retrieving Results for Index 485: Assiut.
Closest hotel in Assiut is Florence Hotel Assiut.
--------------------Ending Search
Retrieving Results for Index 490: Flin Flon.
Closest hotel in Flin Flon is Victoria Inn Flin Flon.
--------------------Ending Search
Retrieving Results for Index 499: Tessalit.
Could not find result
-------------------------
--------------------Ending Search
Retrieving Results for Index 516: Mach.
Closest hotel in Mach is Naqeebullah hotel mach نقیب اللہ ہوٹل مچھ.
--------------------Ending Search
Retrieving Results for Index 537: Fort-Shevchenko.
Closest hotel in Fort-Shevchenko is Oasis hotel Bautino.
--------------------Ending Search

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
locations

         Lat       Lng
1    62.4560 -114.3525
13   65.2820 -126.8329
45   55.1001 -105.2842
83   60.7522 -137.5108
100  25.2934   32.5540
112  55.7435  -97.8558
130  37.4095   23.1147
230  68.2191 -135.0107
243  29.9697   40.2064
279  32.3100   54.0175
287  27.2696   31.1511
301  38.2545 -104.6091
307  21.3469 -158.0858
336  29.1060   58.3570
344  29.0331   21.5482
379  47.0532 -122.3976
400  22.9333   57.5333
411  58.8053 -122.7002
413  49.1334 -102.9842
415  29.1081   21.2869
460  54.0166 -124.0198
484  39.3280 -120.1833
485  27.1810   31.1837
490  54.7682 -101.8650
499  20.1986    1.0114
516  29.8637   67.3298
537  44.5086   50.2630

In [12]:
hotel_df=hotel_df[hotel_df["Hotel Names"]!= ""]
hotel_df

Empty DataFrame
Columns: [City, Country, Lat, Lng, Hotel Names, Hotel Name]
Index: []

In [13]:
# Plot markers on top of the heatmap
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))