In [1]:
# Import Dependencies
import pandas as pd

In [5]:
# Convert a single dictionary containing lists into a dataframe
pharaoh_df = pd.DataFrame(
    {"Frame": ["Thick", "Light", "Blank", "Test", "Stone"],
     "Price": ["0","2","3","6","8","6"],
    "Sales": ["1", "2","3","4","5","8"]   
              
})
pharaoh_df

ValueError: arrays must all be same length

In [2]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0   N/A

In [3]:
# We can create a Pandas Series from a raw list
data_series = pd.Series(["UCLA", "UC Berkeley", "UC Irvine",
                         "University of Central Florida", "Rutgers University"])
data_series

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [3]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data

               Painting    Popularity  Price
0  Mona Lisa (Knockoff)  Very Popular     25
1   Van Gogh (Knockoff)       Popular     20
2       Starving Artist       Average     10
3       Toddler Drawing   Not Popular      1